#slider-106 .wd-slide {
	min-height: 530px;
}

@media (max-width: 1024px) {
	#slider-106 .wd-slide {
		min-height: 530px;
	}
}

@media (max-width: 768px) {
	#slider-106 .wd-slide {
		min-height: 530px;
	}
}
